body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    animation: fadeIn 1s ease-in;
  }
  
  .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}
  
  .profile-pic {
  width: 160px;
    height: 160px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: 0 0 80px rgba(255, 0, 0, 0.2);
    
}
  
 .profile-text {
  flex: 1;
}
  .profile-text h1 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.profile-text .role {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.profile-text .desc {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.profile-text .contact {
  font-size: 0.95rem;
  line-height: 1.4;
}

.profile-text .contact a {
  color: #ec4899;
  text-decoration: none;
}

.profile-text .contact a:hover {
  text-decoration: underline;
}
  .role {
    font-size: 1.2rem;
    color: #ccc;
  }
  
  .desc {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  
  .contact {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #bbb;
  }
  
  .card {
    background: #111;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
    margin-bottom: 1.5rem;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
  }
  
  .card h2 {
    margin-top: 0;
    color: #0ff;
  }
  
  .card ul {
    padding-left: 1.2rem;
  }
  
  .card a {
    color: #0af;
    text-decoration: underline;
  }

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #fff;
  background-color: transparent; /* atau sesuaikan warna footer */
}
  
